.circle1,.circle2,.circle3,.circle4,.circle5{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}


.circle5{
	background: conic-gradient(
		red 20%,
		green 0% 50%,
		blue 0% 80%,
		violet 40%);
}


.circle2{
	background: conic-gradient(
		yellow,
		pink,
		brown,
		gold);
}


.circle3{
	background: conic-gradient(
		lightpink,
		steelblue,
		white,
		greenyellow);
}


.circle4{
	background: conic-gradient(
		rgba(245, 40, 55, 0.8),
		rgba(163, 88, 245, 0.8),
		rgba(54, 88, 245, 0.8),
		rgba(245, 90, 55, 0.8)
	);
}


.circle1{
	background: conic-gradient(
		#32a852,
		#a83269,
		#32a8a2,
		#a83432
	);
}


.circle6{
	width: 200px;
	height: 200px;
	background: linear-gradient(
		45deg,
	    red 40%,
	    blue  0% 50%,
	    green 0% 60%,
	    pink 0% 100%);
}

.boxone{
	width: 600px;
	height: 300px;
	background: green;

	display: flex;
/*	horizontal center*/
/*	justify-contentက display:flex:မရှိရင် သုံးလို့မရ မှီခို*/
	justify-content: center;
/*	vertical center*/
/*	align-itemsက display:flex:မရှိရင် သုံးလို့မရ မှီခို*/
	align-items: center;

	/*display: grid;
	place-items: center;*/

	position: relative;
}

.boxone .div1{
	width: 300px;
	height: 300px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;

	position: absolute;
/*	left:0;
	top:0;*/

	z-index: 2;
}

.boxone .div2{
	width: 320px;
	height: 320px;
/*	background-color: steelblue;*/
/*	background: linear-gradient(red,orange);*/
	background: conic-gradient(
		red ,
		violet 30%,
		red 0%,
		blue 70%,
		red 0%,
		yellow 100%
	);
	color: #fff;
	border-radius: 50%;

	position: absolute;
/*	left:0;
	top:0;*/

	z-index: 1;
}


.pointercontainer{
	width: 20px;
	height: 200px;
/*	background-color: gray;*/

	position: absolute;
	top:-50px;

	z-index: 3;

	animation-name: myani;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	transform-origin: bottom;
}

.pointer{
	width: 20px;
	height: 20px;
	background-color: red;

	display: block;
}


@keyframes myani{
	/*from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}*/

	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(-2turn);
	}
}








